<div class="captionArea">
  <b>インターネット要約筆記依頼システムとは？</b>
</div>
<div class="marginArea">
  インターネット要約筆記サービスとは、インターネット（パソコンや携帯電話）を使って要約筆記の依頼やコーディネート業務を行うサービスです。
  詳しくは<%= link_to 'こちら',ICT4E_URL + 'remotecaption/' %>をご参照ください。
  利用に関しては<%= link_to('ユーザ登録', ICT4E_ACCOUNTS_URL + 'signup/remotecaption/term') %>（無料）が必要です。
</div>
<div class="spacer"></div>
<div class="textCenter"><%= image_tag 'system_image.gif', :alt =>'インターネット要約筆記依頼サービスの説明' %></div>
<div class="spacer"></div>