<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS" />
    
    <title><%=@title%></title>
  </head>

  <body id="use">
    <div id="contentsArea" role="main">
      <%= yield %>
    </div>
    
  </body>
</html>